<mat-form-field [formGroup]="authorsForm">
  <div class="label-wrapper">
    <mat-label>Authors</mat-label>
  </div>
  <div class="mat-error" *ngIf="authorsForm.get('author')?.errors">Add at least one author</div>
  <input matInput formControlName="author" [matAutocomplete]="auto" type="text" placeholder="from inner component">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let author of (allAuthorsList$ | async)?.data" [value]="author.name" (click)="addAuthor(author)">
      {{author.name}}</mat-option>
  </mat-autocomplete>
</mat-form-field>
<div class="author" *ngFor="let author of currentAuthors">{{author.firstName}} {{author.lastName}}
  <button type="button" class="close-button" (click)="removeTag(author)" mat-raised-button>x</button>
</div>
