:host(app-course-redactor)
  display: flex
  justify-content: center

.redactor-container
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  border: darkgrey solid 1px
  width: 300px
  min-height: 400px
